//
// VARIABLES / COLORS
// ----------------------------------------------

$color-bg-body: rgb(230, 239, 246);
$color-bg-first-col: hsl(204, 43%, 93%);
$color-bg-second-col: hsl(179, 62%, 43%);
$color-bg-third-col: hsl(179, 63%, 47%);
$color-shadow: #b2b2b2;

$color-h1: hsl(179, 62%, 43%);
$color-h2: hsl(71, 73%, 54%);
$color-h3: hsl(204, 43%, 93%);
$color-p: hsl(218, 22%, 67%);

//
// VARIABLES / FONTS
// ----------------------------------------------

$font-family: 'Karla', sans-serif;